In [50]:
import pandas as pd

In [51]:
df = pd.read_csv('results/test_results_june_test.csv1.csv')

In [52]:
df

,Unnamed: 0,date,accuracy test,precision 1 test,recall 1 test,f1-score 1 test,True Negative 1,False Positive 1,False Negative 1,True Positive 1,accuracy 0 test,precision 0 test,recall 0 test,f1-score 0 test,auc test,True Negative 0,False Positive 0,False Negative 0,True Positive 0,predict time
0,0,20190606,0.615219,0.0,0.0,0.0,226932,141932,0,0,0.615219,1.0,0.615219,0.761778,0.0,226932,141932,0,0,1.442897
1,1,20190601,0.536926,0.0,0.0,0.0,193534,166914,0,0,0.536926,1.0,0.536926,0.698701,0.0,193534,166914,0,0,1.356613

In [53]:
df['True Negative 1'].sum()

420466

In [55]:
df2 = df.append(pd.Series(name = 'sums'))

/home/sgirtsou/miniconda3/envs/ml/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [61]:
df2

,Unnamed: 0,date,accuracy test,precision 1 test,recall 1 test,f1-score 1 test,True Negative 1,False Positive 1,False Negative 1,True Positive 1,accuracy 0 test,precision 0 test,recall 0 test,f1-score 0 test,auc test,True Negative 0,False Positive 0,False Negative 0,True Positive 0,predict time
0,0.0,20190606.0,0.615219,0.0,0.0,0.0,226932.0,141932.0,0.0,0.0,0.615219,1.0,0.615219,0.761778,0.0,226932.0,141932.0,0.0,0.0,1.442897
1,1.0,20190601.0,0.536926,0.0,0.0,0.0,193534.0,166914.0,0.0,0.0,0.536926,1.0,0.536926,0.698701,0.0,193534.0,166914.0,0.0,0.0,1.356613
sums,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
df2['True Negative 1']['sums']=df['True Negative 1'].sum()

In [63]:
df2

,Unnamed: 0,date,accuracy test,precision 1 test,recall 1 test,f1-score 1 test,True Negative 1,False Positive 1,False Negative 1,True Positive 1,accuracy 0 test,precision 0 test,recall 0 test,f1-score 0 test,auc test,True Negative 0,False Positive 0,False Negative 0,True Positive 0,predict time
0,0.0,20190606.0,0.615219,0.0,0.0,0.0,226932.0,141932.0,0.0,0.0,0.615219,1.0,0.615219,0.761778,0.0,226932.0,141932.0,0.0,0.0,1.442897
1,1.0,20190601.0,0.536926,0.0,0.0,0.0,193534.0,166914.0,0.0,0.0,0.536926,1.0,0.536926,0.698701,0.0,193534.0,166914.0,0.0,0.0,1.356613
sums,NaN,NaN,NaN,NaN,NaN,NaN,420466.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN